@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --font-main: "Roboto", sans-serif;
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --light-blue: rgb(226, 232, 240);
  --blue: rgb(25, 146, 212);
  --light-gray: rgb(102, 102, 102);
  --dark-gray: rgb(51, 51, 51);
  --yellow: rgb(240, 180, 41);
}
